<div class="flex0 flexrow">
  <div>
    <span>{{localize "PF1KS.Quantity"}}:</span>
    {{numberInput system.amount name="system.amount" step=1 min=0}}
  </div>
  <select class="sub-type-selector" name="system.subType">
    {{selectOptions subTypeChoices selected=system.subType}}
  </select>
  <select name="system.settlementId">
    {{selectOptions settlementIdChoices selected=system.settlementId}}
  </select>
</div>

{{> item-sheet-changes}}
