<div class="flex0 flexrow">
  <label class="checkbox">
    <input type="checkbox" name="system.disabled" {{checked system.disabled}} />
    {{ localize "PF1KS.Disabled" }}
  </label>
</div>

{{> item-sheet-changes}}
