<div class="controls">
  <a class="delete" data-tooltip="PF1.Delete" data-item-id="{{ buildingId }}">
    <i class="fa-solid fa-trash" inert></i>
  </a>
  <a class="edit" data-tooltip="PF1.Edit" data-item-id="{{ buildingId }}">
    <i class="fa-solid fa-edit" inert></i>
  </a>
</div>
