<label>Kingdom</label>

<select name="kingdomId">
  {{selectOptions kingdomOptions selected=hex.kingdomId}}
</select>

<label>Terrain</label>

<select name="terrain">
  {{selectOptions terrainOptions selected=hex.terrain}}
</select>
