.app.sheet.kingdom.actor {
  min-width: 750px;
  min-height: 650px;

  .tab.summary {
    gap: 8px;

    .details {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 4px 8px;
      justify-items: center;
      align-items: center;
      margin-bottom: 8px;
    }

    .subdetails-body {
      display: flex;
      gap: 8px;

      > div {
        flex: 1;
        align-items: center;

        > h3 {
          width: 100%;
          text-align: center;
        }
      }

      .subdetail {
        flex: 0;
        display: grid;
        grid-template-columns: auto auto;
        gap: 8px;
        align-items: baseline;
        justify-content: start;

        .label {
          justify-self: end;
        }
      }
    }
  }

  .tab:is(.settlements, .terrain) {
    .details {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 4px 8px;
      justify-items: center;
      align-items: center;
      margin: 8px 0;
    }
  }

  .tab.settlements {
    .header {
      flex: 0;
      display: flex;
      gap: 4px;

      /* > img {
        height: 100%;
        flex: 0 0 42px;
      } */

      > h1 {
        flex: 1;
      }

      .settlement-controls {
        flex: 0 0 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .tab.events {
    .event-chance {
      flex: 0;
      margin-bottom: 8px;

      .rollable {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }
    }
  }

  .tab.settings {
    > ul {
      list-style: none;
      flex: 0;
    }
  }

  .army-attributes {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .tab.summary {
    .resources {
      flex: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4px 8px;
      margin-right: 8px;

      > * {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .siege > * {
        flex: 1;
      }
    }
  }

  .tab.commander {
    .header {
      flex: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
    }

    .form-group label {
      flex: 0 0 120px;
      text-align: right;
    }

    .form-group select {
      flex: 0 0 400px;
    }
  }

  .name-xp {
    margin-bottom: 8px;
  }

  .army-type {
    grid-column: 2 / 8;
  }

  .info-box-header {
    flex: 1;
  }
}
