.app.sheet.pf1ks.actor {
  .tab.summary {
    .character-summary {
      > div:nth-child(2) {
        border-right: none;
      }

      > div:nth-child(3n) {
        border-right: var(--pf1-border-groove);
      }

      > div.large {
        flex: 0 0 66%;
      }
    }

    .info-box > div.value {
      flex-direction: row;

      .separator {
        padding: 0 4px;
      }

      :not(.separator) {
        flex: 1;
      }
    }
  }

  .tab.terrain {
    .info-box-joined {
      flex-wrap: wrap;

      .info-box {
        flex: 0 0 20%;
      }

      :nth-child(-n + 5) {
        border-bottom-style: unset;
      }

      > :first-of-type {
        border-radius: 0.3em 0 0 0;
      }
      > :nth-of-type(5) {
        border-radius: 0 0.3em 0 0;
        border-right-style: solid;
      }
      > :nth-of-type(6) {
        border-radius: 0 0 0 0.3em;
      }
      > :last-of-type {
        border-radius: 0 0 0.3em 0;
      }
    }
  }

  .tab.settlements {
    .header {
      flex: 0;
      display: flex;

      /* > img {
        height: 100%;
        flex: 0 0 42px;
      } */

      > h1 {
        flex: 1;
        margin: 0;
        line-height: 1.5em;

        > input {
          height: 100%;
        }
      }
    }

    .magic-item-section {
      display: flex;
      gap: 8px;

      .magic-item-container {
        display: flex;
        flex-direction: column;
        gap: 2px;
        flex: 1;

        > h3 {
          margin: 0;
          color: #f0f0e0;
          text-shadow: #000000 1px 1px 0;
          background: var(--pf1-bg-dark-2);
          text-align: center;
        }

        .magic-item {
          position: relative;

          > input {
            padding-right: 22px;
          }

          > .magic-item-delete {
            width: 16px;
            text-align: center;
            position: absolute;
            right: 6px;
            top: 6px;
          }
        }
      }
    }
  }

  .tab.events {
    .event-chance {
      flex: 0;

      .rollable {
        align-items: center;
      }
    }
  }

  .tab.settings {
    > ul {
      list-style: none;
      flex: 0;
    }
  }

  .subdetails-body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .resources {
      flex: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4px 8px;
      margin-right: 8px;

      > * {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .siege > * {
        flex: 1;
      }
    }
  }

  .tab.commander {
    .header {
      flex: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
    }

    .form-group label {
      flex: 0 0 120px;
      text-align: right;
    }

    .form-group select {
      flex: 0 0 400px;
    }
  }

  .fa-triangle-exclamation {
    color: var(--pf1-color-text-error);
    text-shadow: 0 0 3px var(--pf1-faint);
  }
}
