.app.sheet.kingdom.actor {
  .tab.summary {
    .character-summary {
      > div:nth-child(3n - 2) {
        border-right: none;
      }

      > div:nth-child(3n) {
        border-right: var(--pf1-border-groove);
      }

      > div > select {
        width: 100%;
        border: none;
      }

      > div.full-width {
        flex: 0 0 99%;
      }
    }

    .info-box-joined {
      flex: 0 0 100%;
    }

    .fa-triangle-exclamation {
      color: var(--pf1-color-text-error);
      text-shadow: 0 0 3px var(--pf1-faint);
    }
  }

  .tab.terrain {
    .info-box-joined {
      flex-wrap: wrap;

      .info-box {
        flex: 0 0 20%;
      }

      :nth-child(-n + 5) {
        border-bottom-style: unset;
      }

      > :first-of-type {
        border-radius: 0.3em 0 0 0;
      }
      > :nth-of-type(5) {
        border-radius: 0 0.3em 0 0;
        border-right-style: solid;
      }
      > :nth-of-type(6) {
        border-radius: 0 0 0 0.3em;
      }
      > :last-of-type {
        border-radius: 0 0 0.3em 0;
      }
    }
  }

  .tab.settlements {
    .header {
      flex: 0;
      display: flex;

      /* > img {
        height: 100%;
        flex: 0 0 42px;
      } */

      > h1 {
        flex: 1;
        margin: 0;
        line-height: 1.5em;

        > input {
          height: 100%;
        }
      }

      .settlement-controls {
        flex: 0 0 42px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .tab.events {
    .event-chance {
      flex: 0;

      .rollable {
        align-items: center;
      }
    }
  }

  .tab.settings {
    > ul {
      list-style: none;
      flex: 0;
    }
  }

  .subdetails-body {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .resources {
      flex: 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4px 8px;
      margin-right: 8px;

      > * {
        display: flex;
        align-items: center;
        gap: 4px;
      }

      .siege > * {
        flex: 1;
      }
    }
  }

  .tab.commander {
    .header {
      flex: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
    }

    .form-group label {
      flex: 0 0 120px;
      text-align: right;
    }

    .form-group select {
      flex: 0 0 400px;
    }
  }
}
