.app.sheet.kingdom {
  .item-controls {
    flex: 0 0 68px;
  }

  .item-detail {
    &.item-number {
      flex: 0 0 32px;
    }

    /* army stuff */
    /* &.item-army-hp {
      flex: 0 0 64px;
    }

    &.item-commander {
      flex: 0 0 160px;
    } */

    /* leadership stuff */
    /* &.item-leader-skill-bonus {
      flex: 0 0 160px;
    }

    &.item-leader-bonus {
      flex: 0 0 110px;
    }

    &.item-leader-bonus-value {
      flex: 0 0 20px;
      border-right: unset;
    }

    &.item-leader-bonus-type {
      flex: 0 0 90px;
    } */

    /* change stuff */
    /* &.item-target {
      flex: 1;
    } */
  }
}

.app.sheet.kingdom.test {
  .sheet-navigation .item.icon {
    flex: 0 0;
    padding: 0 8px;
  }

  .item-list {
    .item-list-header span.item-name {
      padding-left: 8px;
    }

    .item-position {
      flex: 0 0 100px;
      border: unset;
      border-right: 1px solid var(--color-border-light-secondary);
      text-align: center;
    }
  }
}

.app.sheet.kingdom input[type="number"] {
  text-align: center;
}

.app.sheet.kingdom :is(span.text-box, input.text-box) {
  width: unset;
  border-radius: unset;
}
