.app.sheet.kingdom {
  .sheet-navigation .item.icon {
    flex: 0 0;
    padding: 0 8px;
  }

  .item-list {
    .item-list-header span.item-name {
      padding-left: 8px;
    }

    .item-position {
      flex: 0 0 100px;
      border: unset;
      border-right: 1px solid var(--color-border-light-secondary);
      text-align: center;
    }

    .item-detail {
      &.item-number {
        flex: 0 0 32px;
      }

      &.item-controls {
        flex: 0 0 80px;

        &.basic {
          flex: 0 0 24px;
        }

        .item-control {
          flex: 0 0 16px;
        }
      }

      /* army stuff */
      &.item-army-hp {
        flex: 0 0 64px;
      }

      &.item-commander {
        flex: 0 0 160px;
      }

      /* leadership stuff */
      &.item-leader-skill-bonus {
        flex: 0 0 160px;
      }

      &.item-leader-bonus {
        flex: 0 0 110px;
        gap: 4px;

        > span {
          padding-left: 4px;
        }

        > select {
          border: unset;
        }
      }

      /* changes stuff todo needed?*/
      &.item-target {
        flex: 1;
        padding: 1px 2px;

        > * {
          width: 100%;
        }
      }
    }
  }
}

.app.sheet.kingdom input[type="number"] {
  text-align: center;
}
